* {
  border: 1px solid lime;
}

:root {
  font-family: "Signika", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
 */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-red: #e50914;
  --primary-black: #000000;

  /* typography  */
  --white: #ffffff;
  --dark-gray: #8c8c8c;
  --gray: #757575;
  --light-gray: #999999;

  /* accent */
  --accent-blue: #0071eb;
  --accent-orange: #ffa00a;
  --accent-green: #5fa53f;

  /* background */
  --bg-black: #000000;
  --bg-gray: #222222;
  --bg-light-gray: #303030;

  --border-radius: 0.5rem;

  --gap-s: 0.75rem;
  --gap-m: 1.5rem;
  --gap-l: 4rem;

  --padding-left: 3rem;
}
/*
--------
TYPOGRAPHY BASE 
--------*/

h1 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 1.1;
  letter-spacing: -0.5%;
}
h2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: -1%;
}

h3 {
  font-size: 1.6rem;
}

button,
.primary-button {
  font-size: 1.8rem;
  letter-spacing: 0.1%;
  background-color: white;
  color: var(--primary-black);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 2rem;
}

.secondary-button {
  /* font-size: 1rem; */
  letter-spacing: 0;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.outline-button {
  border: 1px solid var(--gray);
  color: var(--gray);
  background-color: transparent;
  border-radius: none;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-black);
  color: var(--white);
}
.text-field {
  font-size: 1rem;
}
.lead {
  font-size: 1rem;
}
.subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.5%;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  align-items: flex-start;
  justify-content: flex-start;
}

.container-center {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

/* WHO IS WATHCING */

.profile-large img {
  width: 12rem;
  text-align: center;
  margin-bottom: 1rem;
}

.profiles {
  display: flex;
  gap: 2rem;
  color: var(--gray);
  text-align: center;
}

/* ----------------
HEADER
-----------
*/

header {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding-left: var(--padding-left);
}

main {
  padding-left: var(--padding-left);
}

.hero-section {
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: var(--padding-left);
}

.hero-box {
  max-width: 800px;
}

.card-container {
  display: flex;
  overflow-y: scroll;
  gap: var(--gap-m);
}

.card {
  background-color: var(--bg-gray);
  height: 16rem;
  aspect-ratio: 16/9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-logo {
  background-image: url("./MovieBlock/icon-netflix.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0.5rem;
}

.card-top10 {
  background-image: url("./MovieBlock/icon-top10.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 2.5rem;
}

.card .subtitle {
  background-color: var(--primary-red);
  color: white;
  align-self: center;
  padding: 0.25rem 0.5rem;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

/*-----------------
- UTILITY CLASSES 
------------*/

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.between {
  justify-content: space-between;
}

.gap-s {
  gap: var(--gap-s);
}

.gap-m {
  gap: var(--gap-m);
}

.gap-l {
  gap: var(--gap-l);
}
