* {
  /* border: 1px solid lime; */
}

:root {
  font-family: "Signika", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
 */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-red: #e50914;
  --primary-black: #000000;

  /* typography  */
  --white: #ffffff;
  --dark-gray: #8c8c8c;
  --gray: #757575;
  --light-gray: #999999;

  /* accent */
  --accent-blue: #0071eb;
  --accent-orange: #ffa00a;
  --accent-green: #5fa53f;

  /* background */
  --bg-black: #000000;
  --bg-gray: #222222;
  --bg-light-gray: #303030;

  --border-radius: 0.5rem;
}
/*

--------
TYPOGRAPHY BASE 
--------*/
h1 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 1.1;
  letter-spacing: -0.5%;
}
h2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: -1%;
}

h3 {
  font-size: 1.6rem;
}

button,
.primary-button {
  font-size: 1.8rem;
  letter-spacing: 0.1%;
  background-color: white;
  color: var(--primary-black);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 2rem;
}

.secondary-button {
  /* font-size: 1rem; */
  letter-spacing: 0;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.outline-button {
  border: 1px solid var(--gray);
  color: var(--gray);
  background-color: transparent;
  border-radius: none;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-black);
  color: var(--white);
}
.text-field {
  font-size: 1rem;
}
.lead {
  font-size: 1rem;
}
.subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.5%;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-center {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.profile-large img {
  width: 12rem;
  text-align: center;
  margin-bottom: 1rem;
}

.profiles {
  display: flex;
  gap: 2rem;
  color: var(--gray);
  text-align: center;
}
